<div>
    <h2>Carro de compras</h2>
    {{#if cartProducts}}
        <div class="d-flex flex-row flex-wrap justify-content-center">
            {{#each cartProducts}}     
                <div class="card m-2 d-flex align-items-center" style="width: 35rem; height: 25rem">
                    <img class="card-img-top" style="height: 15rem" src="{{this.url}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">Precio: {{this.price}}</p>
                    </div>
                </div>
                
            {{/each}}
        </div>
    {{else}}
        <p>No existen prouctos en el carro</p>
    {{/if}}
</div>

{{> importScripts}}

<script src="/socket.io/socket.io.js"></script>
  