<div>
   <h2>Ingrese Producto</h2>
  <form action="/productos"  method="post" class="p-5" >
    <div class="mb-3">
      <label class="form-label">Ttile</label>
      <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-3">
      <label class="form-label">Precio</label>
      <input type="number" class="form-control" name="price">
    </div>
    <div class="mb-3" >
      <label  class="form-label"  >Url</label>
      <input type="text" class="form-control" name="url">
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>